/node_modules
/public/hot
/public/storage
/public/fonts/
/public/css/
/public/img/
/public/mix-manifest.json
/resources/assets/js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/user_uploads
*.zip
*.gz
.project

/html/assets/scss
/node
